<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="@Url.Action("Index", "LoaiSanPham")"><i class="fa fa-fw fa-bar-chart-o"></i> Danh mục</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "SanPham")"><i class="fa fa-fw fa-table"></i> Sản phẩm</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "NhaCungCap")"><i class="fa fa-fw fa-edit"></i> Nhà cung cấp</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "DonViTinh")"><i class="fa fa-fw fa-desktop"></i> Đơn vị tính</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "ThuocTinh")"><i class="fa fa-fw fa-wrench"></i> Thuộc tính</a>
        </li>
        <li>
            <a href="@Url.Action("List", "Users")"><i class="fa fa-fw fa-users"></i> Người dùng</a>
        </li>

        <li>
            <a href="@Url.Action("Index", "DonDatHang")"><i class="fa fa-fw fa-file"></i> Xử lý đơn hàng</a>
        </li>
        <li>
            <a href="@Url.Action("BangKeMuaHangHoa", "BaoCao")"><i class="fa fa-fw fa-bar-chart-o"></i> Báo cáo thống kê</a>
        </li>
    </ul>
</div>