@model WebBanHang.Models.Entity.LoaiSanPham
@using WebBanHang.Models.Entity

@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết danh mục</h2>

<div>
    <hr />
    <div class="dl-horizontal">
        <div class="col-md-4">
            <div>
                <b>Ảnh đại diện</b>
            </div>
            @{
                var imageSource = Model.AnhDaiDien == null ? "" : Url.Content(Model.AnhDaiDien);
            }
            <div>
                <img src="@imageSource" width="320" height="320" />
            </div>

        </div>
        <div class="row col-md-8">
            <h2>
                <b>
                    @Html.DisplayFor(model => model.TenLoai)
                </b>
            </h2>
            <div class="col-md-3" style="padding-left: 0px">
                <b>Danh mục cha: </b>
            </div>

            <div class="col-md-9" style="padding-left: 0px; height: 22px">
                @Html.DisplayFor(model => model.LoaiSanPham2.TenLoai)
            </div>

            <h4>Mô tả:</h4>

            <div class="col-md-12" style="padding-left: 0px;">
                <pre>
                     @Html.DisplayFor(model => model.MoTa)
                </pre>
            </div>
        </div>

    </div>
</div>
<div class="col-md-12" style="padding: 15px">
    <button onclick="location.href='@Url.Action("Index","LoaiSanPham")'">
        <i class="fa fa-fw fa-arrow-left"></i> Về danh sách
    </button>
    <button onclick="location.href='@Url.Action("Edit","LoaiSanPham", new { id = Model.LoaiSanPhamID })'">
        Chỉnh sửa
    </button>
</div>